{% extends "base.html" %}

{% block content %}

  <h2>Query 3</h2>
  <p>Дані про товари, які мають найбільшу реалізацію (кількість записів про найбільшу реалізацію не повинна перевищувати
    п’яти). Динамічний набір записів складається з таких полів: Найменування торговельної марки, Найменування типу
    товару, Ціна реалізації, Кількість реалізації, Дата реалізації.
  </p>

  <table>
    <thead>
    <tr>
      <th>Фірма</th>
      <th>Тип товару</th>
      <th>Ціна реалізації</th>
      <th>Кількість</th>
      <th>Дата реалізації</th>
    </tr>
    </thead>

    <tbody>
    {% for row in rows %}
      <tr>
        <td>{{ row.firm_name }}</td>
        <td>{{ row.type_name }}</td>
        <td>{{ row.sale_price }}</td>
        <td>{{ row.amount }}</td>
        <td>{{ row.date_realization }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}