{% extends "base.html" %}

{% block content %}

  <h2>Query 2</h2>
  <p>Інформацію про товари, які були реалізовані у квітні та червні 2005 року. Динамічний набір записів повинен містити
    наступні поля: Повна назва товару, Дата реалізації, Кількість реалізації, Вартість.
    Елементи поля Повна назва товару будуються на основі полів Найменування типу товару та Найменування фірми-виробник.
  </p>

  <table>
    <thead>
    <tr>
      <th>Повна назва товару</th>
      <th>Дата реалізації</th>
      <th>Кількість</th>
      <th>Вартість</th>
    </tr>
    </thead>

    <tbody>
    {% for row in rows %}
      <tr>
        <td>{{ row.full_name }}</td>
        <td>{{ row.date_realization }}</td>
        <td>{{ row.amount }}</td>
        <td>{{ row.total_price }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}