{% extends "base.html" %}

{% block content %}

  <h2>Query 1</h2>

  <p>Інформацію про товари “міксер” і “фен”, ціна якої не перевищує 45 у.о. Динамічний набір записів повинен містити
    наступні поля: Найменування типу товару, Найменування фірми-виробника, Ціна реалізації, Дата реалізації, Вартість.
    Поле Вартість — розраховуються як добуток полів Ціна реалізації та Кількість реалізації. Розрахункове поле Ціна
    реалізації обчислюється за таким правилом: якщо Кількість реалізованого товару не перевищує 15, то Ціна збільшується
    на 3%, в іншому випадку — Ціна залишається незмінною.
  </p>

  <table>
    <thead>
    <tr>
      <th>Тип товару</th>
      <th>Фірма</th>
      <th>Ціна реалізації</th>
      <th>Дата реалізації</th>
      <th>Вартість</th>
    </tr>
    </thead>

    <tbody>
    {% for row in rows %}
      <tr>
        <td>{{ row.type_name }}</td>
        <td>{{ row.firm_name }}</td>
        <td>{{ row.sale_price }}</td>
        <td>{{ row.date_realization }}</td>
        <td>{{ row.total_price }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}