{% extends "base.html" %}

{% block content %}
<h2>Запит 2: Продажі (квітень і червень 2019)</h2>

<table>
    <tr>
        <th>Повна назва товару</th>
        <th>Дата реалізації</th>
        <th>Кількість</th>
        <th>Вартість</th>
    </tr>

    {% for row in data %}
    <tr>
        <td>{{ row.full_product_name }}</td>
        <td>{{ row.sale_date[:10] if row.sale_date else '-' }}</td>
        <td>{{ row.amount }}</td>
        <td>{{ row.total_cost }}</td>
    </tr>
    {% else %}
    <tr><td colspan="4">Дані не знайдено</td></tr>
    {% endfor %}
</table>

{% endblock %}