{% extends "base.html" %}

{% block content %}

  <h2>Procedure 2</h2>
  <p>
    Дані, в яких кількість реалізованих товарів більше середньої кількості реалізованих відповідних товарів
    фірм-виробників. Динамічний набір записів складається з таких полів: Найменування типу товару, Найменування
    фірми-виробника, Кількість реалізації.
  </p>

  <table>
    <thead>
    <tr>
      <th>Тип товару</th>
      <th>Фірма</th>
      <th>Кількість</th>
    </tr>
    </thead>

    <tbody>
    {% for row in rows %}
      <tr>
        <td>{{ row["Найменування типу товару"] }}</td>
        <td>{{ row["Найменування фірми-виробника"] }}</td>
        <td>{{ row["Кількість реалізації"] }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}