{% extends "base.html" %}

{% block content %}

  <h2>Procedure 3</h2>
  <p>
    Визначити дані про реалізацію електропобутових товарів за останні дні, за основу взяти кінцеву дату реалізації.
    Кількість останніх днів має вводитись у вигляді параметра. Динамічний набір записів складається з таких полів: Повна
    назва товару, Кількість реалізації, Дата реалізації, Дата сплати
  </p>

  <form method="post">

    <p>
      <label>Number of days:</label>
      <input type="number" name="num_days">
    </p>

    <button type="submit">
      Execute
    </button>

  </form>

  {% if rows %}

    <table>
      <thead>
      <tr>
        <th>Повна назва товару</th>
        <th>Кількість</th>
        <th>Дата реалізації</th>
        <th>Дата сплати</th>
      </tr>
      </thead>

      <tbody>
      {% for row in rows %}
        <tr>
          <td>{{ row["Повна назва товару"] }}</td>
          <td>{{ row["Кількість реалізації"] }}</td>
          <td>{{ row["Дата реалізації"] }}</td>
          <td>{{ row["Дата сплати"] }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

  {% endif %}

{% endblock %}