{% extends "base.html" %}

{% block content %}

  <h2>Procedure 4</h2>
  <p>
    Для всіх фірм-виробників загальну кількість та загальну вартість реалізації (найменування фірми-виробника повинно
    задаватися під час виконання запиту у вигляді параметра, передбачити можливість отримання інформації про всі типи
    товарів)
  </p>

  <form method="post">

    <p>
      <label>Firm name:</label>
      <input type="text" name="firm_name">
    </p>

    <button type="submit">
      Execute
    </button>

  </form>

  {% if rows %}

    <table>
      <thead>
      <tr>
        <th>Фірма</th>
        <th>Загальна кількість</th>
        <th>Загальна вартість</th>
      </tr>
      </thead>

      <tbody>
      {% for row in rows %}
        <tr>
          <td>{{ row["Найменування фірми-виробника"] }}</td>
          <td>{{ row["Загальна кількість реалізації"] }}</td>
          <td>{{ row["Загальна вартість реалізації"] }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

  {% endif %}

{% endblock %}